<!-- Stories -->
<div class="containerr--glav">
    <div class="storie-teni storie-teni--em2-2 ma-bo-1">
        Основные шаги участника
    </div>
    <div class="storie-teni storie-teni--em2-2 ma-bo-1">
        Общая инфа
    </div>
    <div class="container-stor">
        <div class="stories-stor">
            {#            <div class="stories__item" data-modal="story-modal">  #}
            <div class="stories__item">
                <div class="stories__preview">
                    <div class="stor-1"></div>
                </div>
                <div class="stories__title ">
                    <a href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                        <span class=" storie-teni storie-teni--em30 "> Участие </span>
                    </a>
                </div>
                <time class="stories__date storie-teni storie-teni--em2 ">
                    {% if persona and uchastie and mestoNomer  %}
                          Вы - участник
                    {% else %}
                        Шаг - 1
                    {% endif %}

                </time>
            </div>

            <div class="stories__item">
                <div class="stories__preview">
                    <div class="stor-2"></div>
                </div>
                <div class="stories__title">
                    <span class=" storie-teni storie-teni--em2 "> Матки  </span>
                </div>
                <time class="stories__date storie-teni storie-teni--em2  ">Шаг - 2</time>
            </div>

            <div class="stories__item">
                <div class="stories__preview">
                    <div class="stor-3"></div>
                </div>
                <div class="stories__title">
                    <span class=" storie-teni storie-teni--em2 "> Дочки  </span>
                </div>
                <time class="stories__date storie-teni storie-teni--em2  ">Шаг - 3</time>
            </div>

            <div class="stories__item">
                <div class="stories__preview">
                    {#                <div class="stor-1"></div>#}
                </div>
                <div class="stories__title">
                    <span class=" storie-teni storie-teni--em2 "> Пасека  </span>
                </div>
                <time class="stories__date storie-teni storie-teni--em2  ">Шаг - 4</time>
            </div>
        </div><!-- /.stories -->
    </div>
</div>