//.pchel-1 {
//  background-image: url('../../../../assets/images/foto-for-help/stories/pchel-1.jpg');
//  width: 340px;
//  height: 359px;
//}

.stor-uch-1 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-uch-1.png');
  width: 240px;
  height: 313px;
}

.stor-uch-2 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-uch-2.png');
  width: 240px;
  height: 313px;
}

.stor-uch-3 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-uch-3.png');
  width: 240px;
  height: 313px;
}

.stor-uch-4 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-uch-4.png');
  width: 240px;
  height: 256px;
}

.stor-1 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-1.png');
  width: 881px;
  height: 445px;
}
.stor-2 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-2.png');
  width: 240px;
  height: 251px;
}
.stor-3 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-3.png');
  width: 240px;
  height: 249px;
}

.stor-4 {
  background-image: url('../../../../assets/images/foto-for-help/stories/stor-2.png');
  //width: 881px;
  //height: 445px;
}