<div class="main-pro">
    <div class="storie-teni storie-teni--em2-2 ma-bo-1">
        Участие
    </div>
</div>

<div class="main-pro-1">
    {{ include('app/proekts/_tabs.html.twig') }}
</div>

<div class="main-pro-2">
    {{ include('app/proekts/page_glavas/uchastieGl/_tabs.html.twig') }}
</div>

<div class="main-pro-pro">
    <div class="storie-teni storie-teni--em2-2 ma-bo-1">
        Общая инфа про участие
    </div>
</div>


