<div>
    <h2 class="storie-teni storie-teni--em32">
        Вы участник проекта
    </h2>
    <h1 class="storie-teni storie-teni--em34"> Рег-Те-Ма</h1>

    <h1 class="zagol-teni-44  ">
        <span class="col-kras">Шаг  второй ! </span>
    </h1>
    <h1 class="storie-teni storie-teni--em34  ">
        Работа с матками  :
    </h1>
</div>
<ul class=" li-he  storie-teni storie-teni--text-start  storie-teni--em32 ma-to-1 ma-le-1">

    <li>
{#        <a href="{{ path('app.proekts.page_glavas.pchelomatka') }}">#}
            <span class="col-kras">* </span> Елит - Матки  <span class="col-kras">* </span>
{#        </a>#}

    </li>

    <li>
        <span class="col-kras">* </span> Бренд - Матки  <span class="col-kras">* </span>
    </li>

    <li>
        <a href="{{ path('app.proekts.page_glavas.pchelomatka') }}">
            <span class="col-kras">* </span> Пчело - Матки  <span class="col-kras">* </span>
        </a>

    </li>

</ul>


<h1 class="storie-teni storie-teni--em32  ma-to-2">
    <span class="col-kras">Внимание ! </span>
    <p> Важна последовательность действий</p>

</h1>

<ul class=" li-he  storie-teni storie-teni--text-start  storie-teni--em32 ma-to-1 ma-le-1">

    <li>
        <span class="col-kras">1. </span>  <span class="col-kras">Перед </span>регистрацией.
    </li>

    <li>
        <span class="col-kras">2. </span> <span class="col-kras">Регистрация</span>   матки
    </li>

    <li>
        <span class="col-kras">3. </span>  <span class="col-kras">После </span>  регистрации.
    </li>

</ul>


