

        <h1 class=" storie-teni storie-teni--em32  ">
             Станьте участником проекта
        </h1>

        <h1 class=" storie-teni storie-teni--em34 ma-to-2">
                 <p class="col-kras ">Шаг  первый : </p>
                 жмём на ссылку
            <a href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                <p class="col-kras ma-to-1">Участие</p>
            </a>

        </h1>

