<div class="modal" id="story-modal">
    <div class="modal__content  modal__content--story">
    <video class="modal__video" src="https://rutube.ru/video/5b074f019cf9100da1692271f08cf8d5/" poster="https://placehold.it/420x580">
    </video>

    </div>
</div>
